
.vfaac-views-form div.form-wrapper input.form-checkbox {
  margin-right:5px;
}
/*
.views-field.views-field-activity-create-form-element .form-wrapper .form-item,
.views-field.views-field-activity-create-form-element .form-wrapper .container-inline-date {
  display:inline-block;
  vertical-align:top;
  width:auto;
  margin-right:1em;
}

.views-field.views-field-activity-create-form-element .form-wrapper .form-item .form-type-checkbox,
.views-field.views-field-activity-create-form-element .form-wrapper .form-item .form-type-radio {
  display:block;
}*/